@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@400;700&display=swap");

:root {
    --header-height: 3rem;
    --font-semi: 700;
    /*===== Colors =====*/

    --first-color: #E6FEFC;
    --second-color: #00706D;
    --color-white: #fff;
    --color-black: #000;
    --color-gray: #F6FAF9;
    /*===== Font =====*/
    --body-font: "Lato", sans-serif;
    --title-font: "Urbanist", sans-serif;
    --big-font-size: 2rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.15rem;
    --normal-font-size: .938rem;
    --smaller-font-size: .75rem;
    /*===== Margins  =====*/
    --mb-2: 1rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;
    --mb-6: 3rem;
    /*===== z index =====*/
    --z-back: -10;
    --z-fixed: 100;
}

@media screen and (min-width: 968px) {
    :root {
        --big-font-size: 3rem;
        --h2-font-size: 2rem;
        --h3-font-size: 1.5rem;
        --normal-font-size: 1.3rem;
        --smaller-font-size: .875rem;
    }
}

/*===== BASE =====*/
*, ::before, ::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    color: var(--second-color);
    background-color: var(--first-color);

}

h1, h2, p {
    margin: 0;
}

p {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

h1, h2, h3 {
    font-family: var(--title-font);
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

/*===== LAYOUT =====*/
.bd-grid {
    max-width: 1024px;
    display: grid;
    margin-left: var(--mb-2);
    margin-right: var(--mb-2);
}

.l-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: #E6FEFC
}

/*===== CLASS CSS ===== */
.section-title {
    position: relative;
    font-size: var(--h2-font-size);
    color: var(--first-color);
    margin-top: var(--mb-2);
    margin-bottom: var(--mb-4);
    text-align: center;
}

.section-title::after {
    position: absolute;
    content: "";
    width: 64px;
    height: 0.18rem;
    left: 0;
    right: 0;
    margin: auto;
    top: 2rem;
    background-color: var(--first-color);
}

.section {
    padding-top: 3rem;
    padding-bottom: 2rem;
}

/* Hover Animation */
.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: var(--second-color);
}

.hover-underline-animation::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: var(--second-color);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/*BUTTONS*/
.button {
    display: inline-block;
    background-color: var(--second-color);
    color: var(--color-white);
    padding: 1rem 2.5rem;
    font-weight: var(--font-semi);
    border-radius: 0.5rem;
    transition: 0.3s;
}

.button:hover {
    box-shadow: 0 10px 36px rgba(0, 0, 0, 0.15);
}


/*===== NAV =====*/
.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: var(--font-semi);
    font-family: var(--title-font);
}

.nav__left {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 767px) {
    .nav__menu {
        position: fixed;
        top: var(--header-height);
        right: -100%;
        width: 80%;
        height: 100%;
        padding: 2rem;
        background-color: var(--second-color);
        transition: 0.5s;
    }
}

.nav__item {
    margin-bottom: var(--mb-4);
}

.nav__link {
    position: relative;
    color: var(--color-white);
}

.nav__link:hover {
    color: var(--second-color);
}

.nav__contact {
    color: #082B2B;
    padding: 0.75rem 1.5rem;
    border: 2px solid #082B2B;
    border-radius: 12px;
    font-size: 1.1rem;
    font-family: var(--title-font);
    transition: 0.3s;
}

.nav__contact:hover {
    background-color: #D0F5F3;
    box-shadow: 0 10px 36px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 767px) {
    .nav__contact {
        display: none;
    }
}

.nav__logo img {
    width: 100px;
}

.nav__toggle {
    color: var(--second-color);
    font-size: 1.5rem;
    cursor: pointer;
}


/*=== Show menu ===*/
.show {
    right: 0;
}

/*===== HOME =====*/
.home {
    position: relative;
    row-gap: 5rem;
    padding: 4rem 0 5rem;

}

.home__data {
    align-self: center;
}

.home__title {
    font-size: var(--big-font-size);
    font-family: var(--title-font);
    margin-bottom: var(--mb-5);
}

.home__title-color {
    color: var(--color-black);
}

.home__blob {
    -webkit-mask-image: url(data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMTAwIDEwMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNODksNjUuNVE4MSw4MSw2NS41LDg5LjVRNTAsOTgsMzIuNSw5MS41UTE1LDg1LDExLjUsNjcuNVE4LDUwLDExLjUsMzIuNVExNSwxNSwzMi41LDExUTUwLDcsNjQuNSwxNFE3OSwyMSw4OCwzNS41UTk3LDUwLDg5LDY1LjVaIiBzdHJva2U9Im5vbmUiIHN0cm9rZS13aWR0aD0iMCIgZmlsbD0iIzRGNDZFNSIvPjwvc3ZnPg==);
    -webkit-mask-repeat: no-repeat;
}

.home__list {
    color: var(--color-black);
    font-family: var(--body-font);
    font-size: var(--h3-font-size);
    line-height: 2;
    font-weight: var(--font-semi);
    margin-bottom: var(--mb-4);
}

.home__list i {
    color: var(--second-color);
    margin-right: 0.5rem;
}

.home__intro {
    font-size: var(--normal-font-size);
    color: #4b5563;
    margin-bottom: var(--mb-6);
    text-align: justify;
}

/* ===== MEDIA QUERIES=====*/
@media screen and (max-width: 320px) {
    .home {
        row-gap: 2rem;
    }

}

@media screen and (min-width: 576px) {
    .home {
        display: flex;
        justify-content: space-between;
        padding: 4rem 0 2rem;
    }

    .home__img img {
        max-width: 800px;
        bottom: 25%;
    }
}

@media screen and (min-width: 768px) {
    body {
        margin: 0;
    }

    .section {
        padding-top: 4rem;
        padding-bottom: 3rem;
    }

    .section-title {
        margin-bottom: var(--mb-6);
    }

    .section-title::after {
        width: 80px;
        top: 3rem;
    }

    .nav {
        height: calc(var(--header-height) + 1.5rem);
    }

    .nav__list {
        display: flex;
        padding-top: 0;
    }

    .nav__item {
        margin-left: var(--mb-6);
        margin-bottom: 0;
    }

    .nav__toggle {
        display: none;
    }

    .nav__link {
        font-size: 1.1rem;
        color: var(--color-black);
    }

    .home {
        padding: 8rem 0 2rem;
    }

    .home__img {
        width: 400px;
        bottom: 10%;
    }
}

@media screen and (min-width: 992px) {
    .bd-grid {
        margin-left: auto;
        margin-right: auto;
    }

    .home {
        padding: 10rem 0 2rem;
    }

    .home__img {
        width: 450px;
        bottom: 15%;
    }

}


/* Trust Section */
.trust-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 100px;
    background-color: #ffffff;
    margin-bottom: -20px;
}

.logo-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    max-width: 60%;
}

.logo-container img {
    filter: grayscale(1);
    transition: filter 0.2s ease-in-out;
}

.logo-container img:hover {
    filter: grayscale(0);
}

.logo-container img {
    max-width: 100px;
    max-height: 50px;
    object-fit: contain;
}

.trust-text {
    max-width: 30%;
    margin-left: 30px;
}

.trust-text h2 {
    font-size: 2rem;
    color: #1f2937;
    margin-bottom: 10px;
}

.trust-text p {
    text-align: justify;
    color: #4b5563;
    line-height: 1.5;
}

/* Responsive Design */
@media (max-width: 768px) {
    .trust-section {
        flex-direction: column;
        text-align: center;
    }

    .logo-container, .trust-text {
        max-width: 100%;
        margin: 10px 0;
    }

    .trust-text {
        margin-left: 0;
    }
}


.logo-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

@media (max-width: 1000px) {
    .logo-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 480px) {
    .trust-section {
        flex-direction: column-reverse;
        padding: 50px;
    }

    .logo-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Certifications Section */
.certifications {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 50px;
    background-color: #ffffff;
}

.certifications__logos {
    text-align: center;
}


.certifications_content {
    text-align: justify;
    max-width: 800px;
}

.certifications_content h2 {
    font-size: var(--h2-font-size);
    color: var(--second-color);
    margin-bottom: 20px;
}

.certifications_content p {
    font-size: var(--normal-font-size);
    color: #4b5563;
    line-height: 1.5;
}

.certifications_content strong {
    color: var(--second-color);
}

/* Responsive Design */
@media (max-width: 768px) {
    .certifications {
        flex-direction: column-reverse;
        align-items: flex-start;
    }

    .certifications__logos {
        display: flex;
        flex-direction: row;
    }

}

/* Figures Section */
.figures-section {
    background-color: var(--color-white);
    padding: 50px 20px;

}


.figures-container {
    background-color: var(--second-color);
    color: var(--color-white);
    padding: 50px;
    text-align: center;
    border-radius: 15px;
    max-width: 900px;
    margin: 50px auto;
}

.figures-container h2 {
    font-size: 36px;
    margin-bottom: 30px;
}

.figures {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.figures-item {
    flex: 1;
    min-width: 150px;
    margin: 10px;
}

.figures-number {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 10px;
}

.figures-description {
    font-size: 16px;
    line-height: 1.5;
}

/* Contact Section */

.contact-section {
    background-color: #006d6f;

}

.contact-container {
    color: #ffffff;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    border-radius: 15px;
}

.contact-content {
    max-width: 50%;
}

.contact-content h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.contact-intro, .contact-note {
    font-size: 18px;
    margin-bottom: 20px;
    color: #d4f1f4;
}

.contact-info {
    background-color: var(--color-white);
    color: var(--color-black);
    padding: 40px;
    border-radius: 15px;
    max-width: 40%;
}

.contact-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.contact-icon {
    color: var(--second-color);
    font-size: 30px;
    width: 40px;
    margin-right: 20px;
}

.contact-details {
    text-align: left;
}

.contact-type {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.contact-detail {
    font-size: 18px;
    color: #333333;
}

.contact-detail a {
    color: var(--second-color);
}

/* Responsive Design */
@media (max-width: 768px) {
    .contact-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .contact-content, .contact-info {
        max-width: 100%;
    }

    .contact-info {
        margin-top: 20px;
    }
}

/* Footer */
.footer {
    background-color: #f7f7f7;
    padding: 100px 50px;
    border-top: 1px solid #e0e0e0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-left {
    max-width: 50%;
}

.footer-logo {
    width: 150px;
    margin-bottom: 10px;
}

.footer-description {
    font-size: 16px;
    color: #333333;
    margin-bottom: 20px;
}

.footer-copyright {
    font-size: 14px;
    color: #666666;
}

.footer-copyright a {
    color: var(--second-color);
}

.footer-right {
    display: flex;
}

.footer-links {
    margin-right: 40px;
}

.footer-links a {
    display: block;
    font-size: 16px;
    color: #006d6f;
    text-decoration: none;
    margin-bottom: 10px;
}

.footer-links a:hover {
    text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        align-items: flex-start;
    }

    .footer-left, .footer-right {
        max-width: 100%;
    }

    .footer-right {
        margin-top: 20px;
    }

    .footer-links {
        margin-right: 0;
        margin-bottom: 20px;
    }
}

/*Active menu*/
.active-link {
    color: var(--second-color);
    text-decoration: underline;
    text-underline: #006d6f;
    text-underline-offset: 0.2em;
    text-underline-mode: under;

}

.page-gray {
    padding: 50px;
    background-color: var(--color-gray);
}
/* CTAs Section */
.cta-section {
    max-width: 1080px;
    margin: 20px auto;
    display: flex;
    justify-content: space-around;
    background-color: var(--first-color);
    font-size: 24px;
    font-weight: var(--font-semi);
    align-items: center;
    color: var(--color-black);
    padding: 50px 0;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cta-button {
    color: #082B2B;
    padding: 0.75rem 1.5rem;
    border: 2px solid #082B2B;
    border-radius: 12px;
    font-size: 1.1rem;
    font-family: var(--title-font);
    transition: 0.3s;
}

.cta-button:hover {
    background-color: #D0F5F3;
    box-shadow: 0 10px 36px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 768px) {
    .cta-section {
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }
}